@model IEnumerable<BerrasBio1._0.Models.Showing>

@{
  ViewData["Title"] = "Movie";
}

<div class="movie-showings">
  @if (Model.Count() < 1)
  {
    <h1>No planned showings for this movie</h1>
    <a asp-controller="Movies" asp-action="Index">Go back</a>
  }
  else
  {
<table class="showings-table">
  <thead>
    <tr>
      <th>
        @Html.ActionLink("Date", "Movie", new { sortOrder = ViewBag.StartTime })
      </th>
      <th>
        @Html.ActionLink("End Time", "Movie", new { sortOrder = ViewBag.EndTime })
      </th>
      <th>
        @Html.ActionLink("Movie Title", "Movie", new { sortOrder = ViewBag.MovieTitle })
      </th>
      <th>
        @Html.ActionLink("Auditorium", "Movie", new { sortOrder = ViewBag.Auditorium })
      </th>
      <th>
        @Html.ActionLink("Seats Available", "Movie", new { sortOrder = ViewBag.Seats })
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr class="@(item.Seats.Where(s => s.Booked == false).Count() < 1 | DateTime.Compare(item.StartTime, DateTime.Now) < 0 ? "fully-booked" : "")">
        <td>
          @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Movie.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Auditorium.Name)
        </td>
        <td>
          @if (item.Seats.Where(s => s.Booked == false).Count() < 1)
          {
            <span>SOLD OUT</span>
          }
          else if (DateTime.Compare(item.StartTime, DateTime.Now) < 0)
          {
            <span>To late</span>
          }
          else
          {
            @item.Seats.Where(s => s.Booked == false).Count()
          }
        </td>
        <td>
          @if (item.Seats.Where(s => s.Booked == false).Count() < 1)
          {
            <span></span>
          }
          else if (DateTime.Compare(item.StartTime, DateTime.Now) < 0)
          {
            <span></span>
          }
          else
          {
            <a asp-action="BuyTicket" asp-route-id="@item.Id">Buy Ticket ></a>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
  }

</div>

