@model IEnumerable<BerrasBio1._0.Models.Movie>

@{
  ViewData["Title"] = "Index";
}

@*The main moviepage, with one large carousel to showcase 6 movies*@
<div class="movie-index">
  <div class="main-carousel">
    @foreach (var item in Model.Take(6))
    {
    <div class="main-carousel-item">
      <img src="~/assets/img/backdrops/@item.BackdropUrl" class="main-carousel-item-bg" />
      <a asp-controller="Movies" asp-action="details" asp-route-id="@item.Id" class="btn-primary" id="main-carousel-btn">More info</a>
        <h1 class="main-carousel-title">@item.Name</h1>
    </div>
    }
  </div>
  @*And then a couple of smaller carousels based on their genre*@
  <div class="sub-carousels-container">
    <h2 class="sub-carousel-heading">Crime</h2>
    <div class="sub-carousel">
      @foreach (var item in Model.Where(m => m.Genres.Any(g => g.Name == "Crime")).ToList())
      {
        <div class="sub-carousel-item">
          <a asp-controller="Movies" asp-action="details" asp-route-id="@item.Id">
            <img src="~/assets/img/posters/@item.ImageUrl" class="sub-carousel-item-img" />
          </a>
        </div>
      }
    </div>
    <h2 class="sub-carousel-heading">Family</h2>
    <div class="sub-carousel">
      @foreach (var item in Model.Where(m => m.Genres.Any(g => g.Name == "Family")).ToList())
      {
        <div class="sub-carousel-item">
          <a asp-controller="Movies" asp-action="details" asp-route-id="@item.Id">
            <img src="~/assets/img/posters/@item.ImageUrl" class="sub-carousel-item-img" />
          </a>
        </div>
      }
    </div>
    <h2 class="sub-carousel-heading">Comedy</h2>
    <div class="sub-carousel">
      @foreach (var item in Model.Where(m => m.Genres.Any(g => g.Name == "Comedy")).ToList())
      {
        <div class="sub-carousel-item">
          <a asp-controller="Movies" asp-action="details" asp-route-id="@item.Id">
            <img src="~/assets/img/posters/@item.ImageUrl" class="sub-carousel-item-img" />
          </a>
        </div>
      }
    </div>
    <h2 class="sub-carousel-heading">Adventure</h2>
    <div class="sub-carousel">
      @foreach (var item in Model.Where(m => m.Genres.Any(g => g.Name == "Adventure")).ToList())
      {
        <div class="sub-carousel-item">
          <a asp-controller="Movies" asp-action="details" asp-route-id="@item.Id">
            <img src="~/assets/img/posters/@item.ImageUrl" class="sub-carousel-item-img" />
          </a>
        </div>
      }
    </div>
    <h2 class="sub-carousel-heading">Drama</h2>
    <div class="sub-carousel">
      @foreach (var item in Model.Where(m => m.Genres.Any(g => g.Name == "Drama")).ToList())
      {
        <div class="sub-carousel-item">
          <a asp-controller="Movies" asp-action="details" asp-route-id="@item.Id">
            <img src="~/assets/img/posters/@item.ImageUrl" class="sub-carousel-item-img" />
          </a>
        </div>
      }
    </div>

  </div>

  </div>

